body{
    padding-top:4.2rem;
    padding-bottom:4.2rem;
}

.groupDefinitions {
    margin-left: 0px;
}

.textoCentro {
    text-align: center !important;
}

.itemB {
    margin-right: 10px;
}

.spinnerDist {
    margin-bottom: 10px;
    margin-top: 5px;
}