<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo">

  <mdb-navbar-brand><a class="navbar-brand" href="#">App</a></mdb-navbar-brand>

  <links>

      <ul class="navbar-nav mr-auto">
          <li class="nav-item" routerLinkActive="active">
              <a class="nav-link waves-light" mdbWavesEffect routerLink="/produtos">Produtos</a>
          </li>
          
          <li class="nav-item dropdown" dropdown>
              <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
              Configurações<span class="caret"></span></a>
              <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                  <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/manutencaoProdutos">Manutenção Produtos</a>
                  <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/manutencaoCategoria">Manutenção Categoria</a>
              </div>
          </li>

      </ul>
     
  </links>

</mdb-navbar>

<div class="container">
    <router-outlet></router-outlet>
</div>
